
<div class="tableofcontent">
	<ul>
    	<li><a href="#aboutus">About BioSIM</a></li>
        <li><a href="#aboutus#biosimsystem">BioSIM System</a></li>
        <li><a href="#aboutus#processflow">The Process Flow</a></li>
        <li><a href="#aboutus#schperformance">School Performance</a></li>
        <li><a href="#aboutus#features">BioSIM Features</a>
        	<ul>
            	<li><a href="#aboutus#features">School Roll Call</a></li>
                <li><a href="#aboutus#features">School Fees Report</a></li>
                <li><a href="#aboutus#features">School Perfomance Reports</a></li>
                <li><a href="#aboutus#features">Teatures Management</a></li>
            </ul>
        </li>
    </ul>
</div>

<div class="bigbox" id="aboutus" style="background:#FBFBFB;">
    
    <div  style="display:inline-block; width:45%; vertical-align:middle;">
    	<img src="assets/images/students1.jpg" width="100%" />
    </div>
    
    <div  style="display:inline-block; width:40%; vertical-align:middle;" align="left">
    	<div style="padding:0 40px">
            <h2 style="color:#f15a24">ABOUT BioSIM</h2>
            
            <p>BioSIM© provides the ability to track the  following:</p>
            <ol>
                <li>Enrollment </li>
                <li>Students attendance</li>
                <li>Educational performance </li>
                <li>School fees payment history</li>
                <li>Teacher attendance</li>
                <li>Parents attendance during school meetings </li>
                <li>Overall school performance (OSCARating)  based Ministry of Education Science and Technology Quality Index rating system  for each school</li>
            </ol>
            <a class="btn btn-lg btn-warning" href="#biosimsystem">The BioSIM Sytem</a>
        </div>
    </div>
    
</div>

<div class="bigbox" style="background:#7cb94a; color:#000;" id="biosimsystem">
	<div  style="display:inline-block; width:40%; vertical-align:middle;" align="left">
	  <div>
          <h2 style="color:#000">BioSIM System Comprises of:</h2>
          <ol>
              <li>Live scan enrollment station comprising  of dual or single Iris scanners, Android phone, laptop  computers and
                BioSIM system. These will be used to capture iris impressions of  all participants as well as their head shots.
              </li>
              <li>Verification system comprising a single  iris scanner and android phone. This will be used by the teachers to 
                    scan the  students’ iris while in class and will be linked to the student information  management system where 
                    it will have the time and date stamps of when the scan  happened. This is effectively the time and attendance system.
              </li>
              <li>A central repository with all students,  teachers, parents’ and school data that can be remotely accessed by any  authorized person. </li>
              <li>OSCARating system for Ministry of  Education Quality  Department</li>
          </ol>
          
          <a href="" class="btn btn-lg btn-warning">Process Flow</a>
        </div>
    </div>
    
    <div  style="display:inline-block; width:45%; vertical-align:middle; text-align:center">
    	<img src="assets/images/requirements.png" height="500" />
    </div>
    
</div>

<div class="bigbox" style="" id="processflow">
	
    <h2>The Process Flow</h2>
    <div>
        <img src="assets/images/process-flow.jpg" width="80%" />
        <div><a href="" class="btn btn-lg btn-danger">School Performance</a></div>
    </div>
    
</div>

<div class="bigbox" id="schperformance" style="background:linear-gradient( #006837, #0cb666); color:#FFF;">
   	<div style="display:inline-block; width:40%; vertical-align:middle;">
    	<h2 style=" color:#FFF">School Performance</h2>
    	<ol>
          <li>BioSIM offers the Ministry of Education  Science and Technology with the entire Quality Index rating tool.</li>
          <li>This integration offers the Quality  Assurance and Standards Officers with a one stop platform that assess schools 
                and generates a report real time.</li>
          <li>The platform is able to link the school  performance to the quality index school, this break through integration will 
                allow for the alignment of resources to schools with great need.</li>
      </ol>
      
    </div>
    <div style="display:inline-block; width:45%; vertical-align:middle;" align="center">
   	  <img src="assets/images/graph1.png" width="400" />
    </div>
    
</div>

<div class="bigbox" id="features" style="background:linear-gradient(#F8F8F8, #FFF); color:#f15a24;">
	<div style="padding-bottom:20px; border-bottom:1px #CCC solid;">
    	<h2 style=" color:#f15a24">BioSIM Sytem Features</h2>
        <div style="display:inline-block; width:40%; vertical-align:top;">
            <h3>School Roll Call</h3>
            <img src="assets/images/attendance-list.png" width="100%" style="background:#FFF; padding:5px;">
        </div>
        <div style="display:inline-block; width:40%; vertical-align:top;">
            <h3>School Fees Reports </h3>
            <img src="assets/images/fees-report.png" width="100%" style="background:#FFF; padding:5px;">
            <p>The Head teacher will at the click of a button be able to generate  students' fees payment history.</p>
        </div>
    </div>
    
    <div>
        <div style="display:inline-block; width:40%; vertical-align:top;">
            <h3>School Perfomance Reports </h3>
            <img src="assets/images/performance-report.png" width="100%" style="background:#FFF; padding:5px;">
            
        </div>
        <div style="display:inline-block; width:40%; vertical-align:top;">
        	<h3>Teacher Management Report</h3>
            <img src="assets/images/teacher-man-sys.png" width="100%" style="background:#FFF; padding:5px;">
            <p>BioSIM is able to consolidate a teachers performance as depicted by grades of the subject they oversee as well 
            	as Quality Assurance and Standards assessment; this can form the evidence for promoting teachers.</p>
        </div>
    </div>
    
</div>