<div class="inner contacts">
	<div class="page-header">
    	<ol class="breadcrumb pull-right">
            <li><a href="#aboutus">Home</a></li>
            <li><a href="#contactus">Contact Us</a></li>
        </ol>
    	<h2>CONTACT US</h2>
    </div>
    
    <div class="col-sm-4" style="background:#f15a24; padding:10px; color:#FFF;">
    	<h3 style="color:#FFF;">Postal Address</h3>
        <p>P.O. Box 12345-00100<br/>Nairobi, Kenya</p>
        
    	<h3 style="color:#FFF;">Support</h3>
        <div><span class="glyphicon glyphicon-earphone"></span> +254 020 123 456</div>
        <div><span class="glyphicon glyphicon-phone"></span> +254 722 123 456</div>
        <div><span class="glyphicon glyphicon-envelope"></span> support@biosim.com</div>
        
        <h3 style="color:#FFF;">Marketing</h3>
        <div><span class="glyphicon glyphicon-earphone"></span> +254 020 123 456</div>
        <div><span class="glyphicon glyphicon-phone"></span> +254 722 123 456</div>
        <div><span class="glyphicon glyphicon-envelope"></span> marketing@biosim.com</div>
        
    </div>
    
    <div class="col-sm-8 map">
        <iframe width="100%" height="320" frameborder="0" style="border:0; background:#CCC" src="https://www.google.com/maps/embed/v1/place?q=Yaya%20Center%2C%20Argwings%20Kodhek%20Road%2C%20Nairobi%2C%20Kenya&key=AIzaSyDz_J5pBA3wG_HzzMjOoyd_cQ_ycXwu9C8"></iframe>
    </div>
</div>