<div class="slider">
	
    <div class="slide-one" style="background:#FFF url(assets/images/slide/aboutbiosim.png?dfdf) top center no-repeat; background-size:100%;">
        <div class="caption">
            <h1>Welcome to BioSIM</h1>
            <p>Biometric School Information <br/>Management System</p>
        </div>
    </div>
    
    <div class="slide-three" style="background:#FFF url(assets/images/slide/iris.jpg?sdf) top center no-repeat; background-size:100%;">
        <div class="caption">
            <h3>BioSIM Uses Iris</h3>
            <p>as the Biometic Marker.<br/>The Iris is:-
            	<ol>
                	<li>Easy to capture</li>
                    <li>Faster to match</li>
                    <li>Accurate</li>
                    <li>Unique for ever person</li>
                    <li>Less false acceptance</li>
                </ol>
            </p>
        </div>
    </div>
    
    <div class="slide-two" style="background:#FFF url(assets/images/slide/school_roll_call1.png) top center no-repeat; background-size:100%;">
        <div class="caption">
            <h3>School Roll Call</h3>
            <p>Teachers taking the school roll call using<br/>BioSIM School Management Information System</p>
        </div>
    </div>
    
</div>

<div class="bigbox" id="biosim" style="background:#f15a24; color:#FFF;">
  <h1 style=" color:#FFF">What is BioSIM</h1>    
    <div style="display:inline-block; width:50%; vertical-align:middle;">
    	<p>Biometric  Student Information Management system (BioSIM©) is a web based School Information  Management System that has  automated students' and school information management in Kenyan schools.</p>
		<p>BioSIM  Performs the following functions </p>
        <ul>
            <li>Uses the iris as the unique biometric  identifier </li>
            <li>All  students will be enrolled into the system </li>
            <li>These  involves the capture of each eye, digital facial photo and Biodata</li>
            <li>A  student biometric file is then created using this information</li>
            <li>Roll  call is performed by the teacher when students are in class</li>
            <li>The  students look into the iris scanner and the information is sent to the server  via mobile network confirming that the student is indeed present.</li>
            <li>At  the same time parent receive SMS messages on their phones informing them that  their children are in class.</li>
            <li>Parents  will also be enrolled and tracked during PTA meetings</li>
        </ul>
        <p><a class="btn btn-lg btn-success" href="#aboutus" style="color:#FFF">Find out More About BioSIM</a></p>
   </div>
    <div style="display:inline-block; width:45%; vertical-align:middle;" align="center">
    	<img src="assets/images/slide/school_roll_call1.png" width="400" />
    </div>
    
</div>