<div class="bigbox" id="howtopurchase">
	
    <h2>How to purchase</h2>
    
    <div  style="display:inline-block; width:50%; vertical-align:top; padding:0 10px">
    	<ol>
   	  	<li>
        	<p>Contact  BioSIM Solutions by calling or sending an email to Evans  Yegon
   	  	  		with the following contacts</p>
      		<p>P.O Box 5166 – 00100 Nairobi Kenya</p>
        	<p><span class="glyphicon glyphicon-phone"></span>  +254 724 255 822/ 734 333 266</p>
        	<p><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:yegon@biosim.co.ke">yegon@biosim.co.ke</a>, 
            	<a href="mailto:cananda@BioSIm.co.ke">cananda@biosim.co.ke</a></p>
        	<p><span class="glyphicon glyphicon-globe"></span> <a href="http://www.biosim.co.ke/">www.BioSIM.co.ke</a></p>
            <p>or request a quote by filling in the form on the right</p>
        </li>
        
        <li>BioSIM  Solutions will deliver all the requested Equipment, Install and contact  Training for all users</li>
        <li>BioSIM  Solution Staff will facilitate the school in enrollment process of all their  students</li>
        <li>Continuous  Support on use of BioSIM as agreed contractually</li>
      </ol>
      <a href="#purchase#aftersalesservice" class="btn btn-success">After Sales Service</a>
  </div>
    
    <div  style="display:inline-block; width:40%; vertical-align:top; background:#f15a24; color:#fff" align="left">
    	<div style="padding:0 40px">
            <h3 style="color:#fff">Request a quotation</h3>
            
            <form name="quotefrm" class="form-horizontal" method="post" action="">
            	<div class="form-group">
                	<label class="label-group col-sm-4" for="urname">Your Name</label>
                    <div class="col-sm-8">
                    	<input type="text" name="urname" id="urname" class="form-control" />
                    </div>
                </div>
                
                <div class="form-group">
                	<label class="label-group col-sm-4" for="uremail">Email</label>
                    <div class="col-sm-8">
                    	<input type="text" name="uremail" id="uremail" class="form-control" />
                    </div>
                </div>
                
                <div class="form-group">
                	<label class="label-group col-sm-4" for="urmob">Phone Number</label>
                    <div class="col-sm-8">
                    	<input type="text" name="urmob" id="urmob" class="form-control" />
                    </div>
                </div>
                
                <div class="form-group">
                	<div class="col-sm-12">
                        <label class="" for="msg">Message</label>
                        <textarea type="text" name="msg" id="msg" class="form-control" cols="50" rows="3"></textarea>
                    </div>
                </div>
                
                <div class="form-group">
                	<div class="col-sm-12" align="right">
                    	<input type="submit" name="quotbtn" class="btn btn-warning" value="REQUEST" />
                    </div>
                </div>
                
            </form>
            
        </div>
    </div>
    
</div>

<div class="bigbox" id="aftersalesservice" style="background:#7cb94a; color:#000; font-size:18px">
	<div style="display:inline-block; width:50%; vertical-align:top">
	<h2 style="color:#000">After sales service</h2>
    <ul>
        <li>Ensuring the system is running smoothly  by getting weekly reports from end users</li>
        <li>Sourcing for sponsors who can assist in  the purchase of data bundles in exchange for advertising to parents via SMS</li>
        <li>Periodic refresher training workshops on  the BioSIM</li>
    </ul>
    </div>
    
    <div style="display:inline-block; widows:45%; vertical-align:top;">
    	<img src="assets/images/customer_services.png" />
    </div>
</div>